body {
	font       : 400 18px 'Lato', sans-serif;
	line-height: 1.6em;
	color      : #666;
}

strong {
	font       : 900 18px 'Lato', sans-serif;
	line-height: 1.6em;
	color      : #666;
}

pre,
code {
	font: 400 15px 'Space Mono', monospace;
}

pre,
code {
	background-color: #ddd;
	border-radius   : 3px;
	padding-left    : 7px;
	padding-right   : 7px;
}

pre {
	padding      : 10px;
	border-radius: 5px;
}

pre code {
	padding      : 0px;
	border-radius: 0px;
}

h1 {
	font-size     : 28px;
	text-transform: uppercase;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 22px;
}

a {
	color: #3b0084;
}

a:link,
a:visited,
a:link:active,
a:visited:active {
	color: #3b0084;
}

a:hover {
	color: #6000ff;
}

.container-fluid {
	padding: 30px 10px;
}

footer.app-footer {
	background-color: #3b0084 !important;
	color           : #fff !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin            : 0;
}

/*************
 * image protection
 */
cover {
	position: absolute;
	top     : 0;
	bottom  : 0;
	left    : 0;
	right   : 0;
}

.covered {
	position: relative;
}

.covered img {
	display: none;
}

strong.indicator {
	color: #f00;
}

.cookie-alert-holder {
	position: relative;
	z-index : 1000;
}

.cookie-alert {
	padding      : 20px;
	margin       : 2px;
	border-radius: 10px;
	background   : #000;
	color        : #ff0;
	position     : fixed;
	bottom       : 0;
	left         : 0;
	right        : 0;
}

.cookie-alert p {
	margin-top   : 5px;
	margin-bottom: 5px;
}

.cookie-alert a {
	color: #fff !important;
}

.cookie-alert a:hover,
.cookie-alert a:active {
	color: #ccc !important;
}

.headliner {
	border-bottom: solid 1px #ccc;
}

.headliner img {
	margin       : 0 auto;
	margin-top   : 10px;
	margin-bottom: 20px;
}

nav {
	border-top: solid 1px #ccc;
}

.navbar {
	padding: 0px;
}

.navbar-nav {
	margin: 0px;
}

.navbar-nav li {
	margin       : 0px;
	border-left  : solid 1px #ddd;
	border-bottom: solid 1px #eee;
}

.navbar-nav li:first-child {
	border-left: 0px;
}

.navbar-nav li.nav-item.active a.nav-link {
	color: #3b0084;
}

/********************
*/
body.dark {
	background-color: #333;
}

.dark .headliner {
	border-bottom: solid 1px #444;
}

.dark footer nav.navbar {
	border-top: solid 1px #444;
}

.dark .navbar-default {
	background-color: inherit;
}

.dark footer.app-footer {
	background-color: #3b0084 !important;
}

.dark .navbar-nav li {
	border-left     : solid 1px #444;
	border-bottom   : solid 1px #444;
	background-color: #333;
}

.dark footer .nav-justified>li>a,
.dark footer .nav-justified>li.active>a {
	border-bottom: solid 1px #444 !important;
}

.dark footer .nav-justified>li>a {
	color: #71a;
}

.dark footer .nav-justified>li.active>a {
	color           : #93c;
	background-color: #444;
}

.dark footer .nav-justified>li:hover>a {
	color           : #c6f;
	background-color: #666;
}